<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
  <title>Celebal Technologies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .profile {
      position: absolute;
      bottom: 400px;
      right: 660px;
      background-color: rgba(17, 0, 255, 0);
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CELEBAL PROJET </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      {% if user.is_authenticated %}
      <li style="margin:14px;color:white" >Hello {{user.first_name}}</li>
      <li><a href="logout">Logout</a></li>


      {% else %}
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
      {% endif %}
    </ul>
   
  </div>
</nav>

<div class="container">
  <img src="{% static 'images/img1.jpg' %}" alt="image" style="margin: 0px 0px -1px -200px;width: 1540px;margin-top: -25px;height:700px;">
  {% if user.is_authenticated %}
  <div class="profile">
    <h3><center>Profile</center></h3><br>
    <h5>
      Name:  {{user.first_name}} {{user.last_name}}<br>
      Username: {{user.username}}<br>
      E-mail:  {{user.email}}<br>
    </h5>
  </div>
  {% endif %}
</div>

</body>
</html>
